---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<div class="internal-links">
			<HeaderLink href="/">home</HeaderLink>
			<HeaderLink href="https://kaet.xyz">about</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	nav a {
		padding: 1em 0.5em;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
